<!DOCTYPE html>
<html lang="en">

{% comment %}
All js and css component should be in the DJANGO app 'static/irndb2' folder
{% endcomment %}

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="keywords" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'irndb2/images/favicon.ico' %}">

    <title>{% block title %}Home{% endblock %} // IRNdb</title>

    {% include 'irndb2/stylesheets.html' %}
    {% include 'irndb2/javascripts.html' %}
</head>

{% comment "Set app namespace" %}
   namepace 'irndb2' needs declaration in main 'urls.py' not in apps local urls.py:
     urlpatterns = patterns('',
       url(r'^apps/irndb2/', include('irndb2.urls', namespace="irndb2")),
     )
{% endcomment %}

{% url 'irndb2:home_url_name' as home_url %}
{% url 'irndb2:target_url_name' as target_url %}
{% url 'irndb2:mirna_url_name' as mirna_url %}
{% url 'irndb2:lncrna_url_name' as lncrna_url %}
{% url 'irndb2:pirna_url_name' as pirna_url %}
{% url 'irndb2:kegg_url_name' as kegg_url %}
{% url 'irndb2:wp_url_name' as wp_url %}
{% url 'irndb2:doc_url_name' as doc_url %}
{% url 'irndb2:tables_url_name' as tables_url %}
{% url 'irndb2:charts_url_name' as charts_url %}
{% url 'irndb2:search_url_name' as search_url %}
{% url 'irndb2:browse_url_name' as browse_url %}
{% url 'static' as static_url %}

<body>
  <div id="wrapper">

    {% include 'irndb2/navigation.html' %}

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">

        {% comment %}
        BELOW GOES THE MAIN CONTENT FOR EACH INDIVIDUAL PAGE
        THE "block content" tag needs to be replaced in other templates.
        {% endcomment %}

        {% block content %}
        {% endblock %}

        <!-- Footer row -->
        <div class="row">
          <div class="col-lg-12 text-right">
            <hr>
            <p><a href="http://sschmeier.com"><i class="fa fa-home fa-fw"></i></a> // &copy; <a href="http://inms.massey.ac.nz">Massey University</a> 2014-2018 // v1.5.8</p>
          </div>
        </div>
        <!-- ./Footer row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>
</html>

