{% extends "irndb2/base.html" %}
{% block title %}Browse:lncRNAs{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><img src="{% static 'irndb2/images/lncrna.png' %}" alt="" / > Browse/search lncRNAs</h3>
    <div class="panel panel-default">
      <div class="panel-heading"><b>lncRNAs targeting immune relevant genes ({{data|length}})</b></div>
      <div class="panel-body">
        
        {% comment %} 
        <a href="{{ browse_url }}?type=lncrna&dnl=1">
          <p class="text-right"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-floppy-o"></i> Export to csv</button></p>
        </a>
        {% endcomment %}
        
        <div class="dataTable_wrapper" width="100%">
          <table class="table table-condensed" id="sebio1" width="100%">
            <thead>
              <tr>
                <th title="lncRNA symbol"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Symbol</th>
                <th title="lncRNA name"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Name</th>
                <th title="lncRNA alias"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Alias</th>
                <th title="# targets with immune relevance in mice."><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > <img src="{% static 'irndb2/images/mouse.png' %}" alt="mouse" / ></th>
                <th title="# targets with immune relevance inferred from humans."><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > <img src="{% static 'irndb2/images/man.png' %}" alt="human" / ></th>
              </tr>
            </thead>
          </table> 
          <!-- DataTables JavaScript -->
          
          <script>
            var dataSet = {{ data|safe }};
            
            $(document).ready( function () {
                    var table = $('#sebio1').DataTable( {
                      "data": dataSet,
                      "columns": [
                        {"width":"110px"},
                        {"className": "text-left"},
                        {"width":"200px"}, 
                        {"className": "text-right", "width":"55px"},
                        {"className": "text-right", "width":"55px"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true, 
                    lengthChange: false,
                    "pageLength": 15,
                    buttons: [ 'copy', 'excel', 'csv' ]
               });
                 table.buttons().container()
                     .appendTo( '.col-sm-6:eq(0)' );
               } );
          </script>
          
        </div>
        <!-- /.table-responsive -->
        
      </div>
    </div>
    
    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}
         
