{% extends "irndb2/base.html" %}
{% block title %}Browse:Targets{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
 <div class="col-lg-12">
   <h3 class="page-header">Browse/search Targets</h3>

   <style>
     #sebio1 { table-layout: fixed; }
   </style>
   
       <div class="panel panel-default">
         <div class="panel-body">
           {% comment %}
           <a href="{{ browse_url }}?type=target&dnl=1">
           <p class="text-right"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-floppy-o"></i> Export to csv</button></p>
           </a>
           {% endcomment%}
           <div class="dataTable_wrapper" width="100%">
             <table class="table table-condensed" id="sebio1" width="100%">
               <thead>
                 <tr>
                   <th title="Target symbol"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Symbol</th>
                   <th title="Target name"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Name</th>
                   <th title="Target geneid"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > GeneID</th>
                   <th title="Immune-relevance inferred from">Species</th>
                   <th title="Number of experimental supported miRNAs"><img src="{% static 'irndb2/images/mirna-small.png' %}" style="vertical-align: middle;" alt="" / > #exp</th>
                   <th title="Number of predicted miRNAs"><img src="{% static 'irndb2/images/mirna-small.png' %}" style="vertical-align: middle;" alt="" / > #pred</th>
                   <th title="Number of lncRNAs"><img src="{% static 'irndb2/images/lncrna-small.png' %}" style="vertical-align: middle;" alt="" / > #</th>
                   <th title="Number of piRNAs"><img src="{% static 'irndb2/images/pirna-small.png' %}" style="vertical-align: middle;" alt="" / > #</th>
                 </tr>
               </thead>
             </table> 
             <!-- DataTables JavaScript -->
             
             <script>
                 var dataSet = {{ data|safe }};
                 
                  $(document).ready( function () {
                  var table = $('#sebio1').DataTable( {
                      "data": dataSet,
                      "columns": [
                        {"width":"160px"},
                        {"className":"text-left"}, 
                        {"width":"90px"},
                        {"width":"90px"},
                        {"className": "text-right", "width":"65px"},
                        {"className": "text-right", "width":"70px"},
                        {"className": "text-right", "width":"40px"},
                        {"className": "text-right", "width":"50px"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true,
                    lengthChange: false,
                    "pageLength": 15,
                    buttons: [ 'copy', 'excel', 'csv' ]
                  });
                 table.buttons().container()
                     .appendTo( '.col-sm-6:eq(0)' );
               } );
             </script>
             
             </div>
           <!-- /.table-responsive -->
           
         </div>
       </div>
       
       
 </div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
         
{% endblock %}
         
