{% extends "irndb2/base.html" %}
{% block title %}Browse:pathways:{{rna_title}}{% endblock %}

{% load staticfiles %}
{% block content %}
<script>
$(function() {
  $( "#tabsInfo" ).tabs({
      heightStyle: "content",
      beforeLoad: function( event, ui ) {
        if ( ui.tab.data( "loaded" ) ) {
          event.preventDefault();
          return;
        }

        ui.panel.html('<img src="{% static 'irndb2/images/loading.gif' %}" width="24px" height="24px" style="vertical-align:middle;"> Loading...'),

        ui.jqXHR.success(function() {
          ui.tab.data( "loaded", true );
        });

        ui.jqXHR.error(function() {
          ui.panel.html(
            "Could not load tab. We will try to fix this asap.");
        });
      }
   });
});
</script>

<div class="row">
 <div class="col-lg-12">
   <h3 class="page-header">Browse pathways ({{rna_title}})</h3>
    <div id="tabsInfo">
      <ul>
        <li><a href="{{ browse_url }}?type={{entity_type}}&pw=1&pwt=kegg">KEGG</a></li>
        <li><a href="{{ browse_url }}?type={{entity_type}}&pw=1&pwt=wikipathway">Wikipathway</a></li>
      </ul>
    </div> <!-- end tabs-->
 </div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% endblock %}

