
{% load staticfiles %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Target genes ({{data|length}})</b>
        <div style="float: right"><button title="Geneset enrichment analysis: Select genes by clicking on rows." type="button" id="button1" class="btn btn-default btn-xs">RUN GSEA</button></div>
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper" width="100%">
          <table class="table table-condensed" id="sebio1" width="100%">
            <thead>
              <tr>
                <th title="Target symbol"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Symbol</th>
                <th title="Target name"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Name</th>
                <th title="Target geneid"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > GeneID</th>
                <th title="Immune-relevance inferred from">Species</th>
                <th title="Number of experimental supported miRNAs"><img src="{% static 'irndb2/images/mirna-small.png' %}" style="vertical-align: middle;" alt="" / > #exp</th>
                <th title="Number of predicted miRNAs"><img src="{% static 'irndb2/images/mirna-small.png' %}" style="vertical-align: middle;" alt="" / > #pred</th>
                <th title="Number of lncRNAs"><img src="{% static 'irndb2/images/lncrna-small.png' %}" style="vertical-align: middle;" alt="" / > #</th>
                <th title="Number of piRNAs"><img src="{% static 'irndb2/images/pirna-small.png' %}" style="vertical-align: middle;" alt="" / > #</th>
              </tr>
            </thead>
          </table> 
          <!-- DataTables JavaScript -->
          
          <script>
               var dataSet = {{ data|safe }};
                 
               $(document).ready( function () {
                  var table = $('#sebio1').DataTable( {
                      "data": dataSet,
                      "columns": [
                        {"width":"160px"},
                        {"className":"text-left"}, 
                        {"width":"90px"},
                        {"width":"90px"},
                        {"className": "text-right", "width":"65px"},
                        {"className": "text-right", "width":"70px"},
                        {"className": "text-right", "width":"40px"},
                        {"className": "text-right", "width":"50px"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true,
                    lengthChange: false,
                    "pageLength": 15,
                    buttons: [ 'copy', 'excel', 'csv' ]
                  });
                 table.buttons().container()
                      .appendTo( '.col-sm-6:eq(0)' );
               
                 $('#sebio1 tbody').on( 'click', 'tr', function () {
                   $(this).toggleClass('selected');
                 } );

           $('#button1').click( function () {
             var rows = table.rows('.selected').data();
             if (rows.length == 0) {
                 alert( "You need to select some genes to run GSEA by clicking table rows." );
             } else {
                var genes = "";
                parser = new DOMParser();
                for (i = 0; i < rows.length; i++) {
                       // parse the gene out of the link
                       doc = parser.parseFromString(rows[i][0], "text/xml");
                       gene = doc.getElementsByTagName('a')[0].innerHTML
                       genes += gene + '\n';
               }
               enrich({list: [genes], popup: true, description: 'GSEA run with selected genes'});

              //alert( genes );
             }
           } );

         } ); // document ready
          </script>
          
        </div>
        <!-- /.table-responsive -->
        
      </div>
    </div>
  
