<div id="overview">
  <p>
  The database for immunologically relevant noncoding-RNA (IRNdb) was developed foremost to aid our research into microRNA-regulated and lncRNA-regulated processes during murine tuberculosis infection. However, microRNAs in particular influence a wide variety of biological processes and as such may influence many pathways of the immune system. Thus, we present IRNdb to the wider research community as a tool to harness information on microRN-, piRNA-, and lncRNA-regulation in immunological research.
  </p>
  <p>
  IRNdb combines information about <b>murine</b> microRNA/piRNA/lncRNA => target regulation with information about the targets themselves, e.g. relevance to immunological processes, pathways, Gene Ontology terms as well as a variety of immunologically driven experiments. This is done to develop an understanding of the influence of the different RNA classes on the immune system. In IRNdb we focus on target genes with known immunological relevance in mouse and/or human that we mined from several sources.
  </p>
  {% comment %}
  <p>
  In IRNdb, one can browse <a class="m1" href="{{browse_url}}?type=mirna"
  title="Browse miRNAs"> microRNAs</a> / <a class="m1" href="{{ browse_url }}?type=pirna" title="Browse piRNAs">piRNAs</a> / <a class="m1" href="{{ browse_url }}?type=lncrna" title="Browse lncRNAs">lncRNAs</a> or particular <a class="t1" href="{{ browse_url }}?type=target" title="Browse target genes">targets</a> of interest. A researcher is able to browse pathways of interest for targets that are regulated by RNAs. There is a lot of information available for target geness, e.g. pathway information, gene ontology term associations, expression in biological/immunological-relevant experiments. Finally, we include our data on murine time-course tuberculosis infection.
  </p>
  {% endcomment %}
</div>