{% extends "irndb2/base.html" %}
{% block title %}Home{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- Morris Charts CSS -->
<link href="{% static 'irndb2/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<!-- Morris Charts JavaScript -->
<script src="{% static 'irndb2/bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'irndb2/bower_components/morrisjs/morris.min.js' %}"></script>

<div class="row">
 <div class="col-lg-12">
   <h3 class="page-header"><i class="fa fa-database"></i> IRNdb - Database of immunologically relevant non-coding RNAs</h3>
 </div>
</div>
<!-- /.row -->

<div class="row">
 <div class="col-lg-8">
    <div class="panel panel-default">
     <div class="panel-heading">Information</div>
     <div class="panel-body" style="min-height: 180px;">
     <p>
      IRNdb is a database that combines <i>microRNA</i>, <i>PIWI-interacting RNAs</i>, and <i>long non-coding RNA</i> information with immunologically relevant target genes. The database is intended to advance research on the influence of ncRNAs on immunological processes. Currently, IRNdb contains information for mouse as it is often used as a model organism for immunological research purposes. We aim at extending the database in the future to include additional ncRNA classes and mammalian organisms.
     </p>
     <p>
     IRNdb combines <a class="m1" href="{{ browse_url }}?type=mirna" title="Browse miRNAs">{{ num_mirna }} miRNAs</a>, <a class="m1" href="{{ browse_url }}?type=pirna" title="Browse piRNAs">{{ num_pirna }} piRNAs</a>, <a class="m1" href="{{ browse_url }}?type=lncrna" title="Browse lncRNAs">{{ num_lncrna }} lncRNAs</a> and <a class="t1" href="{{ browse_url }}?type=target" title="Browse immune targets"> {{ num_target }} immunologically relevant murine targets</b></a>.
       </p>
     </div>
    </div>
 </div><!-- /.col-lg-8 -->
 
 <div class="col-lg-4">
   <div class="panel panel-default">
     <div class="panel-heading">Quick links</div>
     <div class="panel-body" style="min-height: 180px;">
       <p>
       <b>Browse/search</b>:<br><a class="m1" href="{{browse_url}}?type=mirna"  title="Search microRNAs">miRNAs</a>, <a class="m1" href="{{browse_url}}?type=pirna" title="Browse piRNAs"> piRNAs</a>, <a class="m1" href="{{browse_url}}?type=lncrna" title="Search lncRNAs">lncRNAs</a>, <a class="t1" href="{{browse_url}}?type=target" title="Search targets">target genes</a>.
       </p>
       <p>
       <b>Browse pathways</b> targeted by:<br><a class="m1" href="{{browse_url}}?type=mirna&pw=1" title="Search pathways"> miRNAs</a>, <a class="m1" href="{{browse_url}}?type=pirna&pw=1" title="Search pathways"> piRNAs</a>, or <a class="m1" href="{{browse_url}}?type=lncrna&pw=1" title="Search pathways">lncRNAs</a>.<br/>
       </p>
     </div>
    </div>
  </div><!-- /.col-lg-4 -->
</div>
<!-- /.row -->

<div class="row">
 <div class="col-lg-8">
  
  <div class="panel panel-default">
   <div class="panel-heading">Search IRNdb</div>
   <div class="panel-body">
     <!-- search bar -->
     <form class="navbar-form" role="search" action="{{ search_url }}" method="GET">
      <div class="input-group">
       <input type="text" class="form-control" placeholder="Search..." name="q" id="q" maxlength="50" required/>
       <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button> 
       </div>
       </div>
        &nbsp;&nbsp;symbols, accessions, IDs, ... e.g. miR-703
    </div>
   <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
 </div>  <!-- /.col-lg-8 --> 
 <div class="col-lg-4">
  <div class="panel panel-default">
   <div class="panel-heading">IRNdb RNAs</div>
   <div class="panel-body" style="min-height: 350px; max-height:350px">
    <div id="morris-donut-chart"></div>
   </div>
   <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
 </div>
 <!-- /.col-lg-4 -->   
</div>
<!-- /.row -->

<script>
$(function() {
 Morris.Donut({
    element: 'morris-donut-chart',
    data: [
     {% comment %}
     {
      label: "Targets",
      value: {{ num_target }}
     },
     {% endcomment %}
     {
      label: "microRNAs",
      value: {{ num_mirna }}
     }, {
      label: "lncRNAs",
      value: {{ num_lncrna }}
     }, {
      label: "piRNAs",
      value: {{ num_pirna }}
     }],
     resize: true
 });

});

</script>


{% endblock %}

