{% load staticfiles %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Experimentally supported immune targets ({{ targets_imm_exp|length }})</b>
    <div style="float: right"><a href="#" role='button' data-toggle="tooltip" title="Run geneset enrichment analysis with all experimentally supported target genes." data-placement="left" onclick="enrich({list: ['{{ enrichr_exp|safe }}'], popup: true, description: 'Targets (exp) of {{ m.mname }}'});"><button type="button" class="btn btn-default btn-xs">RUN GSEA</button></a>
    </div>
  </div>
  <div class="panel-body">
    {% if targets_imm_exp %}
    <div class="dataTable_wrapper"  width="100%">
      <table id="sebioT1" class="table table-condensed"  width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > Symbol</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > Name</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > GeneID</th>
            <th title="Immune-relevance inferred from">Species&nbsp;</th>
            <th title="Immune-relevance source">Source</th>
            <th title="Source of the interaction">Target&nbsp;source</th>
          </tr>
        </thead>
      </table>
      <script>
      var dataSetT1 = {{ targets_imm_exp|safe }};
      
      $(document).ready( function () {
      var tableT1 = $('#sebioT1').DataTable( {
          "data":dataSetT1,
          "columns": [ { "width": "130px" },
                   null,
                   { "width": "100px"},
                   { "width": "80px"},
                   { "width": "120px", "bSortable": false },
                   { "width": "110px", "bSortable": false} ],
          "order": [[ 0, "asc" ]],
          "deferRender": true,
          responsive: true,
          lengthChange: false,
          "pageLength": 5,
          buttons: [ 'copy', 'excel', 'csv' ]
        });
        tableT1.buttons().container()
                     .appendTo( '#sebioT1_wrapper .col-sm-6:eq(0)' );
      } );
      </script>
    </div>
    {% else %}
    <p>No experimentally supported immune targets.</p>
    {% endif %}
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Predicted immune targets ({{ targets_imm|length }})</b>
    <div style="float: right"><a href="#" role='button' data-toggle="tooltip" title="Run geneset enrichment analysis with all predicted target genes." data-placement="left" onclick="enrich({list: ['{{ enrichr_pred|safe }}'], popup: true, description: 'Targets (pred) of {{ m.mname }}'});"><button type="button" class="btn btn-default btn-xs">RUN GSEA</button></a>
    </div>    
  </div>
  <div class="panel-body">
    
    {% if targets_imm %}
    <div class="dataTable_wrapper" width="100%">
      <table id="sebioT2" class="table table-condensed" width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > Symbol</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > Name</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > GeneID</th>
            <th title="Immune-relevance inferred from">Species&nbsp;</th>
            <th title="Immune-relevance source">Source</th>
            <th title="Source of the interaction">Target&nbsp;source</th>
          </tr>
        </thead>
      </table>
      <script>
        var dataSetT2 = {{ targets_imm|safe }};
        
      $(document).ready( function () {
        var tableT2 = $('#sebioT2').DataTable( {
          "data":dataSetT2,
          "columns": [ { "width": "130px" },
                   null,
                   { "width": "100px"},
                   { "width": "80px"},
                   { "width": "120px", "bSortable": false },
                   { "width": "110px", "bSortable": false} ],
          "order": [[ 0, "asc" ]],
          "deferRender": true,
          responsive: true,
          lengthChange: false,
          "pageLength": 5,
          buttons: [ 'copy', 'excel', 'csv' ]
        });
        tableT2.buttons().container()
                     .appendTo( '#sebioT2_wrapper .col-sm-6:eq(0)' );
      } );
      </script>
    </div>
    {% else %}
    <p>No predicted immune targets.</p>
    {% endif %}

  </div>
</div>
   
