{% extends "irndb2/base.html" %}
{% block title %}{{m.mname}}{% endblock %}

{% load staticfiles %}

{% block content %}

<script>
$(function() {
  $( "#tabsInfo" ).tabs({
      heightStyle: "content",
      beforeLoad: function( event, ui ) {
        if ( ui.tab.data( "loaded" ) ) {
          event.preventDefault();
          return;
        }

        ui.panel.html('<img src="{% static 'irndb2/images/loading.gif' %}" width="24px" height="24px" style="vertical-align:middle;"> Loading...'),

        ui.jqXHR.success(function() {
          ui.tab.data( "loaded", true );
        });

        ui.jqXHR.error(function() {
          ui.panel.html(
            "Could not load tab. We will try to fix this asap.");
        });
      }
   });

});
</script>

<h3><img src="{% static 'irndb2/images/mirna.png' %}" style="vertical-align: middle;" alt="" / >&nbsp;miRNA view</h3>

{% if m %}

<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{ m.mname }}</b>
  </div>
  <div class="panel-body">
    <p>
      <table id="tableinfo">
        <tr>
          <td><b>miRNA id:</b></td>
          {% if m.mirbase_id %}
          <td><a class="m1" title="Link to miRBase" href="http://mirbase.org/cgi-bin/mature.pl?mature_acc={{ m.mirbase_id }}">{{ m.mname }}</a></td>
          {% else %}
          <td><a class="m1" title="Search miRBase" href="http://mirbase.org/cgi-bin/query.pl?terms={{ m.mname }}">{{ m.mname }}</a></td>
          {% endif %}
        </tr>
        <tr>
          <td><b>miRBase-Acc:</b></td>
          {% if m.mirbase_id %}
          <td><a class="m1" title="Link to miRBase" href="http://mirbase.org/cgi-bin/mature.pl?mature_acc={{ m.mirbase_id }}">{{ m.mirbase_id }}</a></td>
          {% else %}
          <td><a class="m1" title="Search miRBase" href="http://mirbase.org/cgi-bin/query.pl?terms={{ m.mname }}">Search</a></td>
          {% endif %}
        </tr>
      </table>
        
    </p>
  </div>
</div>

<div id="tabsInfo">
  <ul>
    <li><a href="{{ mirna_url }}{{ m.mname }}?type=t">Targets</a></li>
    <li><a href="{{ mirna_url }}{{ m.mname }}?type=p">Pathways</a></li>
    <li><a href="{{ mirna_url }}{{ m.mname }}?type=g">GO</a></li>
    <li><a href="{{ mirna_url }}{{ m.mname }}?type=r">TFBS</a></li>
  </ul>
</div>
  
{% else %}
 <p>miRNA not found.</p>
{% endif %}

{% endblock %}
