{% load staticfiles %}

<div class="panel panel-default">
  <div class="panel-heading">
    <b>GO-PROCESS: Immune targets ({{go_p|length}})</b>
  </div>
  <div class="panel-body">
    {% comment %}
    <a href="{% url 'irndb2:browse_url_name' %}?type={{ entity_type }}&pw=1&pwt={{ pwt }}&dnl=1">
      <p class="text-right"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-floppy-o"></i> Export to csv</button></p>
    </a>
    {% endcomment %}
    {% if go_p %}
    <div class="dataTable_wrapper" width="100%">
      <table id="sebioG1" class="table table-condensed" width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/go-logo-small.png' %}" style="vertical-align: middle;" alt="" / >&nbsp;GO-Process&nbsp;term</th>
            <th><img src="{% static 'irndb2/images/go-logo-small.png' %}" style="vertical-align: middle;" alt="" / >&nbsp;GO&nbsp;Id</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / >&nbsp;Genes</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / >#&nbsp;</th>
          </tr>
        </thead>
      </table> 
      
      <script>
        var dataSet1 = {{ go_p|safe }};
        
        $(document).ready( function () {
        var tableG1 = $('#sebioG1').DataTable( {
              "data":dataSet1,
              "columns": [ 
                    { "width": "350px" },
                    { "width": "100px" },
                    { "bSortable": false },
                    { "width": "75px", "className": "text-right"} ],
              "order": [[ 3, "desc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 5,
              buttons: [ 'copy', 'excel', 'csv' ]
        });
         tableG1.buttons().container()
                     .appendTo( '#sebioG1_wrapper .col-sm-6:eq(0)' );
       });
      </script>
      {% else %}
      <p>No GO-process terms found for immune targets.</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>GO-FUNCTION: Immune targets ({{ go_f|length }})</b>
  </div>
  <div class="panel-body">
    {% comment %}
    <a href="{% url 'irndb2:browse_url_name' %}?type={{ entity_type }}&pw=1&pwt={{ pwt }}&dnl=1">
      <p class="text-right"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-floppy-o"></i> Export to csv</button></p>
    </a>
    {% endcomment %}
    {% if go_f %}
    <div class="dataTable_wrapper" width="100%">
      <table id="sebioG2" class="table table-condensed" width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/go-logo-small.png' %}" style="vertical-align: middle;" alt="" / > GO-Function&nbsp;term</th>
            <th><img src="{% static 'irndb2/images/go-logo-small.png' %}" style="vertical-align: middle;" alt="" / >&nbsp;GO&nbsp;Id</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / > Genes</th>
            <th><img src="{% static 'irndb2/images/target-small.png' %}" style="vertical-align: middle;" alt="" / >#&nbsp;</th>
          </tr>
        </thead>
       </table> 
      
      <script>
        var dataSet2 = {{go_f|safe}};
        
         $(document).ready( function () {
        var tableG2 = $('#sebioG2').DataTable( {
              "data":dataSet2,
              "columns": [ 
                    { "width": "350px" },
                    { "width": "100px" },
                    { "bSortable": false },
                    { "width": "75px", "className": "text-right"} ],
              "order": [[ 3, "desc" ]],
              "deferRender": true,
              responsive: true,
              lengthChange: false,
              "pageLength": 5,
              buttons: [ 'copy', 'excel', 'csv' ]
        });
         tableG2.buttons().container()
                     .appendTo( '#sebioG2_wrapper .col-sm-6:eq(0)' );
       });
      </script>
      {% else %}
      <p>No GO-function terms found for immune targets.</p>
      {% endif %}
    </div>
  </div>
</div>

