
{% load staticfiles %}

   {% if search_results == 0 %}
   <div class="alert alert-danger">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     The search term "<b>{{ search_term }}</b>" returned <b>no</b> results.
   </div>
   {% else %}
   <div class="alert alert-success alert-dismissable">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     {% if search_cat > 1 %}
     The search term "<b>{{ search_term }}</b>" returned <b>{{ search_results }}</b> result(s) in {{search_cat }} categories.
     {% else %}
     The search term "<b>{{ search_term }}</b>" returned <b>{{ search_results }}</b> result(s) in {{search_cat }} category.
     {% endif %}
   </div>
   {% endif %}

    {% if search_target %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>Targets</b>
      </div>
      <div class="panel-body">
        <p>
          <div class="dataTable_wrapper" width="100%">
            <table class="table table-condensed" id="sebio1" width="100%">
              <thead>
                <tr>
                  <th title="Target symbol"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Symbol</th>
                  <th title="Target name"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > Name</th>
                  <th title="Target geneid"><img src="{% static 'irndb2/images/target-small.png' %}" alt="" / > GeneID</th>
                </tr>
              </thead>
              <tbody>
                {% for e in search_target %}
                <tr>
                  <td><a title="Open in IRNdb" class="t1" href="{% url 'irndb2:target_url_name' e.1 %}">{{ e.1 }}</a></td>
                  <td><a title="Open at NCBI" class="t1" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.0 }}">{{ e.2 }}</a></td>
                  <td><a title="Open at NCBI" class="t1" href="https://www.ncbi.nlm.nih.gov/gene/{{ e.0 }}">{{ e.0 }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <!-- DataTables JavaScript -->
            <script>
              $(document).ready( function () {
                  $('#sebio1').DataTable( {
                      "columns": [
                        {"width":"200px"},
                        {"className":"text-left"}, 
                        {"width":"90px"},
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true
                    });
                  } );
            </script>
          </div>
          <!-- /.table-responsive -->
        </p>
      </div>
    </div>
    {% endif %}
    
    {% if search_mirna %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>microRNAs</b>
      </div>
      <div class="panel-body">
        <p>
          <div class="dataTable_wrapper" width="100%">
            <table class="table table-condensed" id="sebio2" width="100%">
              <thead>
                <tr>
                  <th title="microRNA name"><img src="{% static 'irndb2/images/mirna-small.png' %}" alt="" / > Name</th>
                  <th title="microRNA id"><img src="{% static 'irndb2/images/mirna-small.png' %}" alt="" / > mirBase</th>
                </tr>
              </thead>
              <tbody>
                {% for e in search_mirna %}
                <tr>
                  <td><a title="Open at IRNdb" class="m1" href="{% url 'irndb2:mirna_url_name' e.2 %}">{{ e.2 }}</a></td>
                  <td>{{ e.1 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <!-- DataTables JavaScript -->
            <script>
              $(document).ready( function () {
                  $('#sebio2').DataTable( {
                      "columns": [
                        {"width":"200px"},
                        {"className":"text-left"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true
                    });
                  } );
            </script>
          </div>
          <!-- /.table-responsive -->
        </p>
      </div>
    </div>
    {% endif %}
    
    {% if search_lncrna %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>lncRNAs</b>
      </div>
      <div class="panel-body">
        <p>
          <div class="dataTable_wrapper" width="100%">
            <table class="table table-condensed" id="sebio3" width="100%">
              <thead>
                <tr>
                  <th title="lncRNA symbol"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Symbol</th>
                  <th title="lncRNA name"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Name</th>
                  <th title="lncRNA alias"><img src="{% static 'irndb2/images/lncrna-small.png' %}" alt="" / > Alias</th>
                </tr>
              </thead>
              <tbody>
                {% for e in search_lncrna %}
                <tr>
                  <td><a title="Open in IRNdb" class="m1" href="{% url 'irndb2:lncrna_url_name' e.1 %}">{{ e.1 }}</a></td>
                  <td>{{ e.3 }}</td>
                  <td>{{ e.4 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <!-- DataTables JavaScript -->
            <script>
              $(document).ready( function () {
                  $('#sebio3').DataTable( {
                      "columns": [
                        {"width":"200px"},
                        {"className":"text-left"}, 
                        {"width":"300px", "className":"text-left"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true
                    });
                  } );
            </script>
          </div>
          <!-- /.table-responsive -->
        </p>
      </div>
    </div>
    {% endif %}
    
    {% if search_pirna %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>piRNAs</b>
      </div>
      <div class="panel-body">
        <p>
          <div class="dataTable_wrapper" width="100%">
            <table class="table table-condensed" id="sebio4" width="100%">
              <thead>
                <tr>
                  <th title="piRNA name"><img src="{% static 'irndb2/images/pirna-small.png' %}" alt="" / > Name</th>
                  <th title="piRNA alias"><img src="{% static 'irndb2/images/pirna-small.png' %}" alt="" / > Alias</th>
                  <th title="piRNA accession"><img src="{% static 'irndb2/images/pirna-small.png' %}" alt="" / > Accession</th>
		</tr>
              </thead>
              <tbody>
                {% for e in search_pirna %}
                <tr>
                  <td><a title="Open in IRNdb" class="m1" href="{% url 'irndb2:pirna_url_name' e.2 %}">{{ e.2 }}</a></td>
                  <td>{{ e.1 }}</td>
                  <td>{{ e.3 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <!-- DataTables JavaScript -->
            <script>
              $(document).ready( function () {
                  $('#sebio4').DataTable( {
                      "columns": [
                        {"width":"200px"},
                        {"className":"text-left"}, 
                        {"className":"text-left"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true
                    });
                  } );
            </script>
          </div>
          <!-- /.table-responsive -->
        </p>
      </div>
    </div>
    {% endif %}

    {% if search_path %}
    <div class="panel panel-warning">
      <div class="panel-heading">
        <b>Pathways</b>
      </div>
      <div class="panel-body">
        <p>
          <div class="dataTable_wrapper" width="100%">
            <table class="table table-condensed" id="sebio5" width="100%">
              <thead>
                <tr>
                  <th title="Pathway NAME"><img src="{% static 'irndb2/images/pathway.png' %}" alt="" / > Name</th>
                  <th title="Pathway ID"><img src="{% static 'irndb2/images/pathway.png' %}" alt="" / > Id</th>
                  <th title="Source"><img src="{% static 'irndb2/images/pathway.png' %}" alt="" / > Source</th>
		        </tr>
              </thead>
              <tbody>
                {% for e in search_path %}
                <tr>
                  {% if e.2 == 'KEGG' %}
                  <td><a title="Open in IRNdb" class="m1" href="{% url 'irndb2:kegg_url_name' e.0 %}">{{ e.0 }}</a></td>
                  {% elif e.2 == 'WIKIPATHWAY' %}
                  <td><a title="Open in IRNdb" class="m1" href="{% url 'irndb2:wp_url_name' e.0 %}">{{ e.0 }}</a></td>
                  {% else %}
                  <td><a title="Open in IRNdb" class="m1" href="{% url 'irndb2:reactome_url_name' e.0 %}">{{ e.0 }}</a></td>
                  {% endif %}
                  <td>{{ e.1 }}</td>
                  <td>{{ e.2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
            <!-- DataTables JavaScript -->
            <script>
              $(document).ready( function () {
                  $('#sebio5').DataTable( {
                      "columns": [
                        {"width":"200px"},
                        {"className":"text-left"}, 
                        {"className":"text-left"}
                       ],
                    "order": [[ 0, "asc" ]],
                    "deferRender": true,
                    responsive: true
                    });
                  } );
            </script>
          </div>
          <!-- /.table-responsive -->
        </p>
      </div>
    </div>
    {% endif %}


