{% load staticfiles %}

    <!--JQUERY ui interface -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/dist/js/jquery-ui-1.11.2/jquery-ui.css' %}">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" >
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/bower_components/metisMenu/dist/metisMenu.min.css' %}" >
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/bower_components/font-awesome/css/font-awesome.min.css' %}" >
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" >
    
    <!-- DataTables Responsive CSS -->
    <!--<link  rel="stylesheet" type="text/css" href="{% static 'irndb2/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}" rel="stylesheet">-->
    <link  rel="stylesheet" type="text/css" href="{% static 'irndb2/dist/js/dataTables-additions/buttons.bootstrap.min.css' %}" >
    <!-- Datatables select -->
    <link rel="stylesheet" type="text/css" href="{% static 'irndb2/dist/js/dataTables-additions/select.bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link  rel="stylesheet" type="text/css" href="{% static 'irndb2/dist/css/app.css' %}">
