{% load staticfiles %}

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Wikipathways associated to target gene ({{ wikipath|length }})</b>
  </div>
  <div class="panel-body">
    {% if wikipath %}
    <div class="dataTable_wrapper" width="100%">
      <table id="sebioPath1" class="table table-condensed" width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/pathway.png' %}" style="vertical-align: middle;" alt="" / > Name</th>
            <th><img src="{% static 'irndb2/images/pathway.png' %}" style="vertical-align: middle;" alt="" / > ID</th>
          </tr>
        </thead>
        <tbody>
          {% for list in wikipath %}
          <tr>
            <td>
              <a class="g" title="IRNdb pathway view" href="{% url 'irndb2:wp_url_name' list.1 %}">{{ list.2  }}</a>
            </td>
            <td>
              <a class="g" title="Link to WikiPathways" href="http://www.wikipathways.org/instance/{{ list.1 }}" title="Wikipathway link">{{ list.1 }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
      <script>
      $(document).ready( function () {
      var tablePath1 = $('#sebioPath1').DataTable( {
        "columns": [ null,  { "width": "150px" } ],
          "order": [[ 0, "asc" ]],
          "deferRender": true,
          responsive: true,
          lengthChange: false,
          "pageLength": 10,
          buttons: [ 'copy', 'excel', 'csv' ]
        });
        tablePath1.buttons().container()
                     .appendTo( '#sebioPath1_wrapper .col-sm-6:eq(0)' );
      } );
      
      </script>
      {% else %}
      <p>No pathways available.</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>KEGG pathways associated to target gene ({{ kegg|length }})</b>
  </div>
  <div class="panel-body">
    {% if kegg %}
    <div class="dataTable_wrapper" width="100%">
      <table id="sebioPath2" class="table table-condensed" width="100%">
        <thead>
          <tr>
            <th><img src="{% static 'irndb2/images/pathway.png' %}" style="vertical-align: middle;" alt="" / > Name</th>
            <th><img src="{% static 'irndb2/images/pathway.png' %}" style="vertical-align: middle;" alt="" / > ID</th>
          </tr>
        </thead>
        
        <tbody>
          {% for list in kegg %}
          <tr>
            <td>
              <a class="g" title="IRNdb pathway view" href="{% url 'irndb2:kegg_url_name' list.3 %}">{{ list.2 }}</a>
            </td>
            <td>
              <a class="g" title="Link to KEGG" href="http://www.genome.jp/dbget-bin/www_bget?pathway:{{ list.1 }}" title="KEGG link">{{ list.1 }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
      
      <script>
      $(document).ready( function () {
      var tablePath2 = $('#sebioPath2').DataTable( {
        "columns": [  null, { "width": "150px" }  ],
          "order": [[ 0, "asc" ]],
          "deferRender": true,
          responsive: true,
          lengthChange: false,
          "pageLength": 10,
          buttons: [ 'copy', 'excel', 'csv' ]
        });
        tablePath2.buttons().container()
                     .appendTo( '#sebioPath2_wrapper .col-sm-6:eq(0)' );
      } );
      </script>
    </div>
    {% else %}
    <p>No pathways available.</p>
    {% endif %}
  </div>
</div>

