{% extends "irndb/base.html" %}
{% block title %}Home{% endblock %}

{% load static %}
{% block content %}

<div class="row">
 <div class="col-md-12">
   <h3 class="page-header">Home</h3>

   <!-- accordion -->
   <div class="panel-group" id="accordion">
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-caret-down fa-fw"></i><i class="fa fa-info-circle fa-fw"></i>Information</a>
         </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse in">
         <div class="panel-body">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna
           aliqua.
         </div>
       </div>
     </div>
   </div>
   <!-- ./accordion -->
   
 </div>
 <!-- /.col-md-12 -->
</div>
<!-- /.row -->

{% endblock %}

